name: Update Feed & Deploy to GitHub Pages

on:
  schedule:
    - cron: "*/30 * * * *"   # elke 30 min
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
      # 1️⃣ Checkout repo incl. write permissions voor commit
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_TOKEN }}

      # 2️⃣ Setup Python
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      # 3️⃣ Install dependencies
      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install requests beautifulsoup4 feedgen pytz lxml

      # install playwright
      - name: Install Playwright
        run: |
          pip install playwright
          playwright install --with-deps chromium

      - name: Configure Python module path
        run: |
          export PYTHONPATH="$GITHUB_WORKSPACE"
          echo "PYTHONPATH set to $PYTHONPATH"

      # Generate combined feed
      - name: Generate Feed
        run: |
          cd $GITHUB_WORKSPACE
          python feed/generate_feed.py

      # 6️⃣ Commit & Push updated feed.xml
      - name: Commit Feed
        env:
          PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add feed/feed.xml
          git commit -m "Update feed" || echo "Nothing to commit"
          git push https://$PAT_TOKEN@github.com/${{ github.repository }} HEAD:main

      # 7️⃣ Setup GitHub Pages deploy
      - name: Setup Pages
        uses: actions/configure-pages@v5

      # 8️⃣ Upload feed map als artifact voor Pages
      - name: Upload artifact to Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'feed'

      # 9️⃣ Deploy naar Pages
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
