name: Update Dierentuin Feed

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
    - uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install requests beautifulsoup4 feedgen

    - name: Run scrapers
      run: |
        python scraper/ouwahands.py
        # voeg andere scrapers toe

    - name: Generate Feed
      run: python feed/generate_feed.py
      
    - name: Commit & Push feed
      env:
       PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"
        git add feed/feed.xml || true
        git diff --quiet && echo "No changes" && exit 0
        git commit -m "Update feed from workflow"
        git push https://$PAT_TOKEN@github.com/${{ github.repository }} HEAD:main
